<!-- <div class="container">
    <img src="../assets/images/library.jpg" alt="library">    
</div> -->
<div class="cover">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"  data-bs-interval="2000">
          <img src="../assets/images/5.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
          <img src="../assets/images/7.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
          <img src="../assets/images/11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
          <img src="../assets/images/10.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
          <img src="../assets/images/14.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
